<!doctype html>
<html class="uk-background-secondary" ng-app="mainApp">
    <head>
        <title></title>
        <link rel="stylesheet" href="../css/uikit.min.css" />
        <link rel="stylesheet" href="../css/styles.css"/>
        <script src="../lib/jquery.js"></script>
        <script src="../lib/uikit.min.js"></script>
        <script src="../lib/uikit-icons.min.js"></script>
        <script src="../lib/angular.min.js"></script>
        <script src="../app/app.js"></script>
        <script src="../controllers/signinController.js"></script>
    </head>
    <body>
        <h1 class="uk-text-lead uk-text-muted">/Sign In page</h1>
        <form class="uk-align-center uk-width-1-4 uk-padding-small" ng-controller="signinController">
            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" ng-model="form.username" >
                </div>
            </div>
        
            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" ng-model="form.password" > 
                </div>
            </div>
        
            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" ng-click="signIn(form)">Sign In</button>

            <a class="uk-link-muted uk-margin-small-top uk-text-center uk-align-center" href="">Sign Up</a>
        </form>
    </body>
</html>