<!doctype html>
<html class="uk-background-muted" ng-app="mainApp">
    <head>
        <title></title>
        <link rel="stylesheet" href="../css/uikit.min.css" />
        <link rel="stylesheet" href="../css/styles.css"/>
        <script src="../lib/jquery.js"></script>
        <script src="../lib/uikit.min.js"></script>
        <script src="../lib/uikit-icons.min.js"></script>
        <script src="../lib/angular.min.js"></script>
        <script src="../app/app.js"></script>
        <script src="../controllers/signupController.js"></script>
    </head>
    <body>
        <form class="uk-align-center uk-width-1-4 uk-padding-small" ng-controller="signupController" style="margin-top: 5%">
            <div class="uk-text-lead uk-text-large uk-text-center">Create an Account</div>
            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" href="#" uk-icon="icon: pencil"></span>
                    <input class="uk-input" type="text" placeholder="Firstname" ng-model="form.firstname" required>
                </div>
            </div>

            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" href="#" uk-icon="icon: pencil"></span>
                    <input class="uk-input" type="text" placeholder="Lastname"ng-model="form.lastname" required>
                </div>
            </div>

            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" href="#" uk-icon="icon: pencil"></span>
                    <input class="uk-input" type="text" placeholder="Login" ng-model="form.username" required>
                </div>
            </div>
        
            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" placeholder="Password" ng-model="form.password" required>
                </div>
            </div>

            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" placeholder="Repeat password" ng-required="form.password"> 
                </div>
            </div>

            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" ng-click="signUp(form)">Sign Up</button>

            <div class="uk-text-meta uk-margin-small-top">If you have any questions or suggestions, please let us know <a>support@mail.com</a></div>

        </form>
    </body>
</html>