<!doctype html>
<html class="uk-background-muted" ng-app="mainApp" style="background-color: rgb(240, 240, 240)">
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="/css/uikit.min.css" />
        <link rel="stylesheet" href="/css/styles.css"/>
        <script src="/scripts/lib/jquery.js"></script>
        <script src="/scripts/lib/uikit.min.js"></script>
        <script src="/scripts/lib/uikit-icons.min.js"></script>
        <script src="/scripts/lib/jquery.tmpl.min.js"></script>
        <script src="/scripts/lib/jquery.validate.min.js"></script>
        <script src="/scripts/lib/angular.min.js"></script>
        <script src="/scripts/lib/date.js"></script>
        <script src="/scripts/app/dataheap.js"></script>
        <script src="/scripts/app/app.js"></script>
        <script src="/scripts/controllers/mainController.js"></script>

        <script>
            (function(Function_prototype) {
                Function_prototype.debounce = function(delay, ctx) {
                    var fn = this, timer;
                    return function() {
                        var args = arguments, that = this;
                        clearTimeout(timer);
                        timer = setTimeout(function() {
                            fn.apply(ctx || that, args);
                        }, delay);
                    };
                };
            })(Function.prototype);
            window.addEventListener('DOMContentLoaded', function() {
            var input = document.querySelector('#srcPanel');
            function test() {
                var auth = {userId: localStorage.getItem("userId"), token: localStorage.getItem("token")};
                dataheap.search(input.value, auth);
                setTimeout(function(){
                    dataheap.cleanSrc();
                }, 100000);
            }
            input.addEventListener('input', test.debounce(500));
            });
            
        </script>
        
        <style>
            .hide{
                display: none;
            }
            .visibility
            {
                visibility: hidden;
            }
            .transp{
                opacity: 0.6;
            }
            .progress{
                cursor: progress;
            }
        </style>
    </head>
    <body ng-controller="mainController">
        <div class="uk-navbar-container tm-navbar-container" style="top: 0px; background-color: white;">
            <div class="uk-container uk-container-expand">
                <nav class="uk-navbar">
                    <div class="uk-navbar-left">
                        <a href="../" class="uk-navbar-item uk-logo">
                            <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" 
                            style="background-image: url(/resources/logo.png); width: 38px; height: 44px">
                            </div>
                            <div class="uk-margin-small-left">
                                <p style="margin: 0; padding: 0">SafeMooney</p>
                                <p class="uk-text-meta" style="margin:0; padding: 0">The easiest way to manage your debts</p>
                            </div>
                        </a>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li><a href="#">Notifications</a></li>
                            <li uk-toggle="target: #offcanvas-flip"><a href="#">Settings</a></li>
                            <li><a href="#" ng-mousedown="logOut()">LogOut</a></li>
                            <li>
                                <a class="uk-float-right">Language</a>
                                <div uk-dropdown="pos: bottom-justify">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li class="uk-active">English</li>
                                        <li><a href="#">中國</a></li>
                                        <li><a href="#">Español</a></li>
                                        <li><a href="#">Russian</a></li>
                                        <li><a href="#">Français</a></li>
                                        <li><a href="#">Deutsche</a></li>   
                                    </ul>
                                </div>
                            </li>
                        </ul>
                </nav>
            </div>
        </div>

        <div class="uk-text-center" uk-grid style="padding: 50px 10px; max-width: 1300px; margin: 0 auto">
            <div class="uk-width-1-3" >
                <form class="uk-search uk-search-default uk-width-1 uk-card uk-card-default uk-card-hover">
                    <span uk-search-icon></span>
                    <input id="srcPanel" class="uk-search-input" type="search" placeholder="Search..." style="height: 40px;">
                </form>
                <div id="loader" class="uk-width-auto hide">
                    <img class="uk-border-circle" width="40" height="40" src="/resources/loader.gif">
                </div>
                
                <div id="usrContainer" bind-connect="searchData" style="margin-top: 30px;"></div>
            </div>
            
            <div class="uk-width-1-3" >
                <div class="uk-card uk-card-default uk-text-meta uk-card-hover" title="The total amount of money being transferred into and out from your friends" uk-tooltip style="height: 40px; padding: 10px 20px"><span uk-icon="icon: list" style="margin-right: 20px"></span>Cash flows</div>
                <div bind-connect="transactData" style="margin-top: 30px;"></div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-text-meta uk-card-hover" title="Informing that someone wants to lend you money" uk-tooltip style="height: 40px; padding: 10px 20px"><span uk-icon="icon: heart" style="margin-right: 20px"></span>Notifications</div>
                <div bind-connect="notifyData" style="margin-top: 30px;"></div>
            </div>
        </div>

        <div class="uk-offcanvas-content">
            <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true" style="background-color: rgba(0,0,0,0.8)">
                <div class="uk-offcanvas-bar" style="color: rgb(100,100,100); margin: 0; padding-top: 50px">
        
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
        
                    <div class="uk-text-lead uk-text-small uk-text-center uk-margin-small-bottom">Edit account's data</div>
                    <div class="">
                        <div class="" style="padding: 5px 20px">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <div style="text-align:justify">
                                        <h4 class="uk-text-small" style="display: inline; margin-left: auto;">{{account.userdata.firstname}} {{account.userdata.lastname}}</h4>
                                    </div>    
                                    <div style="text-align:justify">
                                        <p class="uk-text-meta uk-margin-remove-top uk-text-left" style="display: inline;"><span>&#64;</span>{{account.userdata.username}}</p>
                                    </div>          
                                    
                                </div>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="/resources/user.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-align-center uk-width-expand uk-padding-small" style="width: 300px;">
                            
                        <a id="chginfBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Edit user data</a>
                        <div id="changeinfo" class="hide">
                            <div class="uk-margin uk-width-1">
                                <div class="uk-text-lead uk-text-small uk-text-left uk-margin-small-bottom">Firstname:</div>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" href="#" uk-icon="icon: pencil"></span>
                                    <input class="uk-input" type="text" ng-model="account.userdata.firstname" placeholder="Firstname" required>
                                </div>
                            </div>
                        
                            <div class="uk-width-1" style="margin: 0; padding: 0">
                                <div class="uk-text-lead uk-text-small uk-text-left uk-margin-small-bottom">Lastname:</div>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" href="#" uk-icon="icon: pencil"></span>
                                    <input class="uk-input" type="text" ng-model="account.userdata.lastname" placeholder="Lastname" required>
                                </div>
                            </div>
                
                            <div class="uk-margin uk-width-1">
                                <div class="uk-text-lead uk-text-small uk-text-left uk-margin-small-bottom">Login:</div>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" href="#" uk-icon="icon: pencil"></span>
                                    <input class="uk-input" type="text" ng-model="account.userdata.username" placeholder="Login" required>
                                </div>
                            </div>
                            <button id="okInfoBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" ng-click="changeUserInfo()">OK</button>
                            <button id="cancelInfoBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">CANCEL</button>
                        </div>
                        
            
                        <a id="chgpasBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Change password</a>

                        <div id="changepas" class="hide">
                            <div class="uk-margin uk-width-1">
                                <div class="uk-text-lead uk-text-small uk-text-left uk-margin-small-bottom">Old password:</div>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" href="#" uk-icon="icon: pencil"></span>
                                    <input class="uk-input" type="password" ng-model="account.userdata.oldpassword" placeholder="Old password" required>
                                </div>
                            </div>
                        
                            <div class="uk-margin uk-width-1">
                                <div class="uk-text-lead uk-text-small uk-text-left uk-margin-small-bottom">New password:</div>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                                    <input class="uk-input" type="password" ng-model="account.userdata.newpassword" placeholder="New password" required>
                                </div>
                            </div>
    
                            <div class="uk-margin uk-width-1">
                                <div class="uk-text-lead uk-text-small uk-text-left uk-margin-small-bottom">Repeat password:</div>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                                    <input class="uk-input" type="password" placeholder="Repeat password" required>
                                </div>
                            </div>
                            <button id="okPassBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" ng-click="changePassword()">OK</button>
                            <button id="cancelPassBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">CANCEL</button>
                        </div>
                        
            
                        <a id="chgpasBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Link to vk.com</a>
                        <div class="uk-text-meta uk-margin-small-top uk-text-center">Your account is already linked to vk.com</div>
                        <div class="uk-text-meta uk-margin-small-top uk-text-center">If you have any questions or suggestions, please let us know <a>support@mail.com</a></div>
            
                        <div id="loader" class="hide" style="background-image: url(/resources/loader.gif); width: 40px; height: 40px; margin:10px auto;"></div>

                        <script>
                            $("#chginfBtn").on("click", function(){
                                $("#changeinfo").removeClass("hide");
                            });

                            $("#cancelInfoBtn").on("click", function(){
                                $("#changeinfo").addClass("hide");
                            });

                            $("#chgpasBtn").on("click", function(){
                                $("#changepas").removeClass("hide");
                            });

                            $("#cancelPassBtn").on("click", function(){
                                $("#changepas").addClass("hide");
                            });
                        </script>
                    </div>
                </div>
            </div>
        
        </div>

        <!---->
        <div style="display: none">
            
            <div id="usrTmpl" type="text/x-jquery-tmpl">
                <div id="usr-${UserId}" class="uk-grid-small uk-flex-middle" uk-grid>
                    
                    <div id="usr-menu-${UserId}" class="visibility" style="width: 50px; padding: 2px; margin-top: -70%;">
                        <div class="uk-animation-toggle" >
                            <div class="uk-animation-scale-down">
                                <div class="uk-card uk-card-default"  uk-icon="icon: chevron-right" style="padding: 2px;" onclick="submit(${UserId})"></div>
                            </div>
                        </div>
                        <div class="uk-animation-toggle" >
                            <div class="uk-animation-scale-down">
                                <div class="uk-card uk-card-default"  uk-icon="icon: close" style="padding: 2px; margin: 5% 0;" onclick="closeMenu(${UserId})"></div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-expand" style="padding: 0" onclick="openMenu(${UserId})">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header" style="padding: 5px 20px">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">
                                        <div style="text-align:justify">
                                            <h4 class="uk-text-small" style="display: inline; margin-left: auto;">${FirstName} ${LastName}</h4>
                                        </div>          
                                        <div style="text-align:justify">
                                            <p class="uk-text-meta uk-margin-remove-top uk-text-left" style="display: inline;">&#64;${Username}</p>
                                        </div>          
                                        
                                    </div>
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="/resources/user.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form id="usr-form-${UserId}" class="uk-card uk-card-default hide" style="padding: 5px 20px">
                            <fieldset class="uk-fieldset">
                        
                                <legend class="uk-legend" style="margin: 10px 0px">Add a loan</legend>
                        
                                <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                                    <div class="uk-width-expand" style="margin-right: 5px">
                                        <div class="uk-margin">
                                            <input id="usr-cnt-${UserId}" name="count" class="uk-input" type="text" placeholder="Amount of credit">
                                        </div>
                                    </div>
                                    <div style="width: 50px; padding: 0; margin: 0">
                                        <div class="uk-margin">
                                            <select name="currency" class="uk-select">
                                                <option>$</option>
                                                <option>P.</option>
                                                <option>€</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="uk-margin">
                                    <div id="per-out-${UserId}" class="uk-text-meta uk-text-middle uk-text-left">DAYS: 30</div>
                                    <input id="per-in-${UserId}" name="period" class="uk-range period" type="range" value="30" min="0" max="100" step="1"  onmousemove="changePeriod(${UserId})">
                                </div>

                                <div class="uk-margin">
                                    <textarea name="comment" class="uk-textarea" rows="5" placeholder="Write your comment here" style="resize: none"></textarea>
                                </div>                 
                            </fieldset>
                        </form>
                    </div>

                    <script>
                            function openMenu(id)
                            {
                                $("#usr-menu-" + id).removeClass("visibility");
                                $("#usr-form-" + id).removeClass("hide");
                            }
        
                            function closeMenu(id)
                            {
                                $("#usr-menu-" + id).addClass("visibility");
                                $("#usr-form-" + id).addClass("hide");
                            }
                            function changePeriod(id)
                            {
                                $("#per-out-" + id).text("DAYS: " + $("#per-in-" + id).val());
                            }

                            function submit(id)
                            {
                                var form = null;
                                var auth = null;
                                var obj = null;

                                try
                                {
                                    form = $("#usr-form-" + id);
                                    auth = {id: localStorage.getItem("userId"), token: localStorage.getItem("token")};
                                    if(auth.id == undefined || auth.id == null || auth.token == undefined || auth.token == null)
                                    return;

                                    obj = {
                                        userId: id,
                                        count: form.find("input[name=count]").val() + form.find("select[name=currency]").val(),
                                        countVal: form.find("input[name=count]").val(),
                                        date: (new Date()).toString("dd.MM.yyyy"),
                                        period: form.find("input[name=period]").val(),
                                        comment: form.find("textarea[name=comment]").val()
                                    };

                                    //custom validation
                                    if(obj.userId < 0)
                                    {
                                        alert("Internal error");
                                        return;
                                    }

                                    if(( obj.countVal == "") || isNaN(obj.countVal))
                                    {
                                        $("#usr-cnt-" + id).addClass("uk-form-danger");
                                        $("#usr-cnt-" + id).attr("uk-tooltip");
                                        $("#usr-cnt-" + id).attr("title", "Please, check the correctness of the input");
                                        return;
                                    }
                                    else
                                    {
                                        $("#usr-cnt-" + id).removeClass("uk-form-danger");
                                        $("#usr-cnt-" + id).removeAttr("uk-tooltip");
                                        $("#usr-cnt-" + id).removeAttr("title");
                                        
                                    }
                                    //custom validation

                                    //hide user
                                    setTimeout(function(){$("#usr-" + id).addClass("hide");}, 500)

                                    $("body").addClass("progress");

                                $.ajax({
                                    url: host + "/api/" + auth.id + "/transactions/add",
                                    type: 'POST',
                                    dataType: 'json',
                                    data: obj,
                                    beforeSend: function (xhr, settings)
                                    {
                                        xhr.setRequestHeader('Authorization', 'Basic ' + auth.token);
                                    },
                                    success: function (data)
                                    {
                                        $("body").removeClass("progress");
                                    },
                                    error: function (jqXHR, textStatus, errorThrown)
                                    {
                                        if(jqXHR.status != 200)
                                        {
                                            alert("There's some problem with your data or connection. Server returned status code: " + jqXHR.status);
                                        }
                                        
                                        $("body").removeClass("progress");
                                    }
                                }); 
                                    
                                }
                                catch(e)
                                {
                                    alert("Internal error");
                                }
                            }
                    </script>
                </div>
            </div>
    
            <div id="trlTmp" type="text/x-jquery-tmpl">
                <div id="tr-${transactionData.Id}" class="uk-margin-small-bottom" uk-grid>
                    <div class="uk-width-expand"> 
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header" style="padding: 5px 20px">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">  
                                        <div style="text-align:justify">
                                            <div>
                                                
                                            </div>
                                            <h4 class="uk-card-title" style="display: inline; margin-left: auto;">${userData.FirstName} ${userData.LastName}</h4>
                                            <span id="lb-${transactionData.Id}" class="uk-label" style="display: inline; margin: auto 10px;">${transactionData.Count}</span>
                                        </div>
                                        <div style="text-align:justify">
                                            <p class="uk-text-meta uk-margin-remove-top uk-text-left" style="display: inline;"><time>${transactionData.Date}</time></p>
                                            <span class="uk-margin-small-right" style="display: inline; float: right">details</span>
                                            
                                        </div>          
                                        
                                    </div>
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="/resources/user.png">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body uk-text-small uk-text-meta">
                                <p>${transactionData.Comment}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tr-menu-${transactionData.Id}" style="width: 50px; margin-left: 5px; padding: 2px;" >
                        <div class="uk-animation-toggle">
                            <div class="uk-animation-scale-down">
                                <div class="uk-card uk-card-default" uk-icon="icon: check" style="padding: 2px; height: 33%" onclick="closeTransaction(${transactionData.Id})"></div>
                            </div>
                        </div>
                        <div class="uk-animation-toggle" >
                            <div class="uk-animation-scale-down">
                                <div class="uk-card uk-card-default"  uk-icon="icon: close" style="padding: 2px; height: 33%; margin: 10% 0;"></div>
                            </div>
                        </div>
                        <div class="uk-animation-toggle" >
                            <div class="uk-animation-scale-down">
                                <div class="uk-card uk-card-default"  uk-icon="icon: chevron-right" style="padding: 2px; height: 30%"></div>
                            </div>
                        </div>    
                    </div>

                    <div id="usr1-${transactionData.User1Id}" style="display:none">${transactionData.User1Id}</div>
                    <div id="usr2-${transactionData.User2Id}" style="display:none">${transactionData.User2Id}</div>
                    <div id="to-${userData.UserId}" style="display:none">${userData.UserId}</div>
                    <div id="ispermited-${transactionData.Id}" style="display:none">${transactionData.IsPermited}</div>
                    <script>
                        function changeView()
                        {
                            var usr1 = $("#usr1-${transactionData.User1Id}").text();
                            var to = $("#to-${userData.UserId}").text();
                            if(to == usr1)
                            {
                                $("#lb-${transactionData.Id}").addClass("uk-label-warning");
                                $("#tr-menu-${transactionData.Id}").addClass("visibility");
                            }
                            else
                            {
                                $("#lb-${transactionData.Id}").addClass("uk-label-success");                        
                            }

                            if($("#ispermited-${transactionData.Id}").text().toLowerCase() == "false")
                            {
                                $("#tr-${transactionData.Id}").addClass("transp");
                            }
                        }
                        changeView();
                    </script>
                </div>
            </div>
    
            <div id="ntfTmpl" type="text/x-jquery-tmpl">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div style="width: 50px; padding: 2px;" >
                        <div class="uk-animation-toggle">
                            <div class="uk-animation-scale-down">
                                <div class="uk-card uk-card-default"  uk-icon="icon: check" style="padding: 2px; height: 33%" onclick="notifyOk(${transactionData.Id})"></div>
                            </div>
                        </div>
                        <div class="uk-animation-toggle" >
                            <div class="uk-animation-scale-down">
                                <div  class="uk-card uk-card-default" uk-icon="icon: close" style="padding: 2px; height: 33%; margin: 5% 0;" onclick="notifyCancel(${transactionData.Id})"></div>
                            </div>
                        </div>
                    </div>
    
                    <div class="uk-card uk-card-default uk-width-expand">  
                        <div style="text-align:justify">
                            <h4 class="uk-text-small" style="display: inline; margin-left: auto;">${userData.FirstName} ${userData.LastName}</h4>
                            <span class="uk-label uk-label-success" style="display: inline; margin: auto 10px;">${transactionData.Count}</span>
                        </div>          
                        <div style="text-align:justify">
                            <p class="uk-text-meta uk-margin-remove-top uk-text-left" style="display: inline;"><time>${transactionData.Date}</time></p>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
        <!---->

        <script>
            function notifyOk(transId)
            {
                var id = localStorage.getItem("userId");
                var token = localStorage.getItem("token");

                if(id == undefined || id == null || token == undefined || token == null)
                    return;

                $("body").addClass("progress");
                $.ajax({
                    url: host + "/api/"+ id + "/transactions/confirm/" + transId,
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function (xhr, settings)
                    {
                        xhr.setRequestHeader('Authorization', 'Basic ' + token);
                    },
                    success: function (data)
                    {

                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        if(jqXHR.status != 200)
                        {
                            alert("There's some problem with your data or connection. Server returned status code: " + jqXHR.status);
                        }

                        $("body").removeClass("progress");
                    }
                });
            }
            function notifyCancel(transId)
            {
                alert("Sorry, but this functionality is not implemented yet");
            }

            function closeTransaction(transId)
            {
                var id = localStorage.getItem("userId");
                var token = localStorage.getItem("token");

                if(id == undefined || id == null || token == undefined || token == null)
                    return;

                $("body").addClass("progress");

                $.ajax({
                    url: host + "/api/" + id + "/transactions/close/" + transId,
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function (xhr, settings)
                    {
                        xhr.setRequestHeader('Authorization', 'Basic ' + token);
                    },
                    success: function (data)
                    {

                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        if(jqXHR.status != 200)
                        {
                            alert("There's some problem with your data or connection. Server returned status code: " + jqXHR.status);
                        }
                        
                        $("body").removeClass("progress");
                    }
                });
            }
        </script>
    </body>
</html>