<!doctype html>
<html class="uk-background-muted" ng-app="mainApp">
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="/css/uikit.min.css" />
        <link rel="stylesheet" href="/css/styles.css"/>
        <script src="/scripts/lib/jquery.js"></script>
        <script src="/scripts/lib/uikit.min.js"></script>
        <script src="/scripts/lib/uikit-icons.min.js"></script>
        <script src="/scripts/lib/angular.min.js"></script>
        <script src="/scripts/app/app.js"></script>
        <script src="/scripts/controllers/signinController.js"></script>

        <style>
            .hidde{
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="uk-text-meta uk-text-large uk-text-center" style="margin-top: 5%">Welcome to the SafeMooney. And do not pay attention to two letters O!</div>
        <form class="uk-align-center uk-width-1-4 uk-padding-small" ng-controller="signinController">
            
            
            <div class="uk-text-lead uk-text-large uk-text-center">Sign In</div>
            
            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" ng-model="form.username" placeholder="Username" required>
                </div>
            </div>
        
            <div class="uk-margin uk-width-1-1">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" ng-model="form.password" placeholder="Password" required>
                </div>
            </div>
        
            <button id="signInBtn" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" ng-click="signIn(form)">Sign In</button>

            <div class="uk-margin-small-top">
                <a class="uk-link-muted uk-margin-small-top uk-text-center uk-align-center" href="./signup" style="display: inline">Sign Up</a>

                <div class="uk-margin-small-bottom uk-align-right" style="display: inline;" hidden="hidden">
                    <div class="uk-animation-toggle"  style="display: inline">
                        <span class="uk-icon uk-icon-image uk-animation-slide-bottom-small" style="background-image: url(/resources/f.png); width: 30px; height: 30px;"></span>
                    </div>
                    <div class="uk-animation-toggle"  style="display: inline">
                        <span class="uk-icon uk-icon-image uk-margin-small-left uk-animation-slide-bottom-small" style="background-image: url(/resources/google.png); width: 30px; height: 30px;"></span>
                    </div>
                    <div class="uk-animation-toggle"  style="display: inline" ng-click="authorize()">
                        <span class="uk-icon uk-icon-image uk-margin-small-left uk-animation-slide-bottom-small" style="background-image: url(/resources/vk.png); width: 30px; height: 30px;"></span>
                    </div>
                </div>
            </div>
            
            <div class="uk-text-meta uk-margin-medium-top">
                If you have any questions or suggestions, please let us know <a>support@mail.com</a>
            </div>

            <div id="loader" class="hidde" style="background-image: url(/resources/loader.gif); width: 40px; height: 40px; margin:10px auto;"></div>

        </form>
    </body>
</html>